{% extends 'base.html.twig' %}

{% block title %}Hello AppController!{% endblock %}

{% block body %}

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}


    <div class="container-fluid">
        <div class="form my-5">
              <h1> Importer votre fichier</h1>
            {{ form(form) }}
        </div>
    </div>


{% endblock %}
